ul {
  list-style-type: none;
  margin-right: 0;
}

body {
  background-color: rgba(78, 76, 76, 0.788);
  font-size: 1.4rem;
  color: rgba(256, 256, 256, 0.8);
}

.toDoItem {
  padding: 6px;
}

.checkBox {
  margin-right: 5px;
}

.fullList {
  display: inline-flex;
  margin: 2px;
}

.removeBtn {
  justify-content: inline-end;
  margin-left: 5px;
  display: inline;
  background-color: #99464e;
  border-color: #99464e;
}

.uncompletedList {
  margin: 0;
  display: inline-flex;
  width: 590px;
  border: solid black 1px;
}
.completedList {
  margin: 0;
  display: inline-flex;
  width: 590px;
  border: solid black 1px;
}

.inputs{
  padding: 2px;
  display: flex;
  justify-content: center;
  background-color: rgba(78, 76, 76, 0.788);
  width: 500px !important;
}

#uncompletedtoDoList {
  padding-left: 5px;
}

#completedtoDoList {
  padding-left: 5px;
}

.toDoItem input:checked {
  background-color: rgb(26, 97, 17);
}